* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.combined-column {
  display: flex;
}

/*STICKY COLUMN*/

.sticky-column {
  flex: 1;
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: #a11a17;
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.sticky-indhold {
  position: sticky;
  top: 0px;
  padding: 5%;
}

.sticky-indhold p {
  color: #fff;
  text-align: center;
}

/*MAIN COLUMN*/

.main-column {
  flex: 3;
  text-align: justify;
  background-color: #fff;
}

h1,
h2 {
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 20px;
}

.pronto {
  padding-bottom: 20px;
  text-align: center;
}
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  gap: 5px;
  margin-top: 50px;
}

textarea {
  width: 100%;
}

.video_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background-color: #fff;
  gap: 30px;
}

.image {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 30px;
}

.image li {
  height: 45vh;
  flex-grow: 1;
}

.image li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.img_container {
  display: grid;
  place-items: center;
}

.background {
  height: 500px;
  grid-area: 1 / 1;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.h3-1,
.h3-2 {
  padding-top: 30px;
  padding-left: 40px;
}
.kontakt {
  text-align: center;
}

.h3-3 {
  text-align: center;
  padding-bottom: 30px;
}

.text {
  padding: 30px 50px 30px;
  background-color: #b0c9ae;
  line-height: 1.5em;
}

.video-text h3 {
  text-align: center;
}

.paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-text {
  display: grid;
  place-items: center;
  padding: 30px;
}

.bund {
  background-color: #b0c9ae;
  padding: 30px;
}

.p1,
.p2 {
  font-size: 18px;
}

/*KNAP STYLING FOR FORM*/
.form_btn {
  border: 0;
  line-height: 2.5;
  padding: 0 60px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #a11a17;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.form_btn:hover {
  background-color: rgb(127, 0, 0);
}

.form_btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* NAVIGATIONSBAR */

.menu {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 130px;
  margin-left: 30%;
  margin-bottom: 5%;
}

.navbar {
  display: flex;
  font-family: "Montserrat";
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  margin-right: 2%;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
  color: #a11a17;
  font-weight: 600;
  font-size: 20px;
}

/* CSS for dropdown-menuen */

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  float: right; /* Justerer placeringen til højre */
}

/* Styling for "Vær med" knappen */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 12px;
  color: #a11a17;
  font-weight: 600;
  font-size: 20px;
}

/* Styling for dropdown-menuens links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #a11a17;
  color: white;
  padding: 14px 16px;
}

.fa {
  color: #000;
}

@media screen and (max-width: 1000px) {
  .video_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .background {
    height: 300px;
  }

  .paragraph {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .combined-column {
    flex-direction: column-reverse;
  }

  .sticky-column,
  .main-column {
    flex: initial; /* Fjerner flex-egenskaber på mindre skærme */
    position: static; /* Fjerner sticky position på mindre skærme */
  }

  .h3-1 {
    padding-top: 30px;
  }

  .h3-2 {
    padding-top: 0;
  }

  .paragraph {
    gap: 20px;
    justify-content: center;
  }

  .main-column {
    margin: 0px;
  }

  p,
  ul {
    text-align: left;
  }

  h3 {
    text-align: center;
  }

  /*NAVIGATIONSBAR*/

  .dropdown .dropbtn,
  .navbar a {
    font-weight: 600;
    font-size: 16px;
  }
}
