* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.combined-column {
  display: flex;
}

a {
  cursor: pointer;
}

/*STICKY COLUMN*/

.sticky-column {
  flex: 1;
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: var(--green); /*Variabel farve fra layout.css*/
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.sticky-indhold {
  position: sticky;
  top: 0px;
  padding: 5%;
}

.sticky-indhold p {
  color: #000;
}

/*MAIN COLUMN*/

.main-column {
  flex: 3;
  background-color: #f8f8f8;
}

h1,
h2 {
  color: #000;
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 20px;
}

.pronto {
  padding-bottom: 20px;
}

form {
  padding: 2rem;
  background: #f8f8f8;
  border-radius: 8px;
  display: grid;
  gap: 5px;
  margin-top: 50px;
}

textarea {
  width: 100%;
}

.video_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background-color: #f8f8f8;
  gap: 30px;
}

.image {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 30px;
}

.image li {
  height: 45vh;
  flex-grow: 1;
}

.image li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.img_container {
  display: grid;
  place-items: center;
}

.background {
  background-color: #24292f;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.h3-1,
.h3-2 {
  padding-top: 30px;
}

.h3-3 {
  text-align: center;
  padding-bottom: 30px;
}

.text {
  padding: 30px 30px 30px;
  line-height: 1.5em;
  border-bottom: 2px solid #24292f;
}

.kontakt {
  text-align: center;
}

.paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.intro-text {
  display: grid;
  padding: 30px;
}

.bund {
  padding: 30px;
  border-top: 2px solid #24292f;
}

.p1,
.p2 {
  font-size: 18px;
}

ul.p1,
ul.p2 {
  padding: 0px 0px 0px 30px;
}

/*KNAP STYLING FOR FORM*/
.form_btn {
  border: 0;
  line-height: 2.5;
  padding: 0 60px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 12px;
  background-color: #a11a17;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.form_btn:hover {
  background-color: rgb(127, 0, 0);
  cursor: pointer;
}

.form_btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1000px) {
  .video_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .paragraph {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .bund {
    border-bottom: 5px solid #24292f;
  }

  .combined-column {
    flex-direction: column-reverse;
  }

  .sticky-column,
  .main-column {
    flex: initial; /* Fjerner flex-egenskaber på mindre skærme */
    position: static; /* Fjerner sticky position på mindre skærme */
  }

  .h3-1 {
    padding-top: 30px;
  }

  .h3-2 {
    padding-top: 0;
  }

  .paragraph {
    gap: 20px;
    justify-content: center;
  }

  .main-column {
    margin: 0px;
  }

  .sticky-column {
    padding: 20px;
  }

  .sticky-indhold {
    padding: 20px;
  }
}
