/* .navbar {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  padding: 2%;
}

.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
} 

.menu {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrerer elementer vertikalt */
/* }

.menu img {
  max-width: 110px;
  margin: 15px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; 
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: black;
  padding: 14px 16px;
  margin: 0;
  background-color: white;
  border-radius: 12px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #a11a17;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #c3c3c3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #a11a17; 
  color: black; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px; 
  font-family: "Montserrat";
}

#myBtn:hover {
  background-color: #555; 
}


.menu {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; 
}

.video {
  position: relative;
  z-index: -1;
} */
*/
/* Responsivt design for burgermenu */
/* @media (max-width: 899px) {
  .menu img {
    max-width: 75px;
    margin: 10px;
  }

  .menu {
    flex-direction: row-reverse; /* Ændrer retningen af flex-container 
  }

  .menu-icon {
    order: -1; 
    display: block;
    margin-right: 50px;
  }

  .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    top: 99px;
    right: 0px;
    width: 35%;
    height: 65%;
    margin: 5px;
    text-align: right;
  }

  .navbar a {
    padding: 14px 16px;
    border-radius: 0;
    text-align: right; /* Juster tekst til højre 
  }

  /* Vis navbar ved at tilføje show-navbar klasse 
  .show-navbar {
    display: flex;
  }
} 
 */


 

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  gap: 5px;
  padding: 20px 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.site-footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

h3,
a {
  color: rgba(161, 26, 23, 1);
  text-align: center;
}

main {
  margin: 0 60px 0 60px;
}

.link_nyhed {
  margin-left: 15px;
}

form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  width: 90%;
  height: 315px;
  gap: 5px;
  margin-top: 20px;
  align-content: end;
}

.form_part {
  margin: 30px;
}

#Besked {
  height: 100px;
}

.col_1-1 {
  margin: 20px 15px 20px 15px;
}

.grid_1-2 {
  background-color: rgba(176, 201, 174, 1);
  padding: 5px 0px 20px 0;
}

@media screen and (min-width: 900px) {
  .grid_nyheder_forside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px 10% 40px 10%;
  }

  .grid_nyheder_forside img {
    object-fit: cover;
    min-width: 100%;
    height: 300px;
  }

  main {
    margin: 0 60px 0 60px;
  }

  .link_nyhed {
    margin: 40px 15px 40px 11%;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 30px 0;
    align-items: center;
  }

  .grid_1-2 img {
    height: 315px;
    width: 90%;
    object-fit: cover;
    margin: auto auto 0 auto;
  }

  .form_part {
    margin: auto 0 0 30px;
  }
}
