img,
video {
  width: 100%;
  height: auto;
  display: block;
}

.video_text {
  position: absolute;
  font-family: "Montserrat";
  font-size: 5.3cqw;
  font-weight: 600;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  width: 100%;
  top: 28%;
  left: 15%;
}

.kontakt_knap {
  text-decoration: none;
  border: 0;
  line-height: 2.5;
  padding: 0 60px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #a11a17;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.col_1-1 h2,
a {
  color: rgba(161, 26, 23, 1);
  text-align: center;
  margin: 10px 0 10px 0;
}

main {
  margin: 0 60px 0 60px;
  background-color: #f8f8f8;
}

.link_nyhed {
  margin-left: 15px;
}

.link_nyhed a {
  font-size: 18px;
}

form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  width: 90%;
  height: 315px;
  gap: 5px;
  margin-top: 20px;
  align-content: end;
}

/* .form_part {
  margin: 40px;
} */

#Besked {
  height: 100px;
}

.col_1-1 {
  margin: 20px 15px 20px 15px;
}

.col_1-1 h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.col_1-1 u {
  color: #a11a17;
}

.grid_1-2 {
  background-color: rgba(176, 201, 174, 1);
  padding: 5px 0px 20px 0;
}

@media screen and (min-width: 1000px) {
  .grid_nyheder_forside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px 30px 40px 30px;
  }

  .grid_nyheder_forside img {
    object-fit: cover;
    min-width: 100%;
    height: 300px;
  }

  main {
    margin: 0 60px 0 60px;
  }

  .link_nyhed {
    margin: 40px 0px 40px 40px;
  }

  .video_text {
    top: 48%;
    left: 15%;
  }

  .col_1-1,
  .link_nyhed {
    font-size: 16px;
  }

  .link_nyhed a:hover {
    font-weight: bold;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 30px 0;
    align-items: center;
  }

  .grid_1-2 img {
    height: 315px;
    width: 90%;
    object-fit: cover;
    margin: auto auto 0 auto;
  }

  .form_part {
    margin: auto 0 0 40px;
  }
}
