img {
  width: auto;
  width: 100%;
  /* align-items: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: 0;
}

p,
a {
  padding: 20px 0 20px 0;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.Join_us a {
  background-color: rgba(161, 26, 23, 1);
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}

h1 {
  font-size: 5.3cqw;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 8%;
  left: 8%;
}
.Join_us {
  background-color: rgba(176, 201, 174, 1);
  padding: 60px 0 60px 0;
}

form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  width: 80%;
  height: 311px;
  gap: 5px;
}

#Besked {
  height: 100px;
}

button {
  width: 60px;
  background-color: rgba(161, 26, 23, 1);
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 900px) {
  .komiteer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 9.6%;
    gap: 40px;
    margin-bottom: 70px;
    margin-top: 70px;
  }
  .formular_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 30px 0;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
  }

  .formular_grid img {
    height: 350px;
    width: 80%;
    object-fit: cover;
    gap: 10px;
  }

  .Join_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .Join_us img {
    height: 350px;
    width: 80%;
    object-fit: cover;
    gap: 10px;
    margin-bottom: 31px;
  }
  .form_part {
    margin-left: 10%;
  }
}
