img {
  width: auto;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* body {
  gap: 30px;
} */

.Join_us {
  background-color: rgba(176, 201, 174, 1);
  padding: 20px;
}

form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  width: 90%;
  height: 311px;
  gap: 5px;
}

#Besked {
  height: 100px;
}

button {
  width: 60px;
  background-color: red;
  color: white;
}

/* .formular_grid img {
  width: auto;
} */

.navigation {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 900px) {
  .komiteer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 18%;
    gap: 40px;
    margin-bottom: 100px;
    margin-top: 70px;
  }
  .formular_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 30px 0;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .Join_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10px;
    gap: 100px;
  }

  .Join_us img {
    height: 300px;
    width: 80%;
    object-fit: cover;
    gap: 10px;
  }

  form {
    margin: auto;
  }
}
