@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li,
li a,
ul li,
ul,
.p1,
.p2,
button,
label {
  font-family: "Montserrat";
}

main {
  margin: 0;
}

/*
.menu {
  overflow: hidden;
  display: flex;
  background-color: #ffffff;
  font-family: "Montserrat";
  justify-content: flex-end;
  margin-right: 60px;
}

nav {
  margin-left: 60px;
  margin-top: 30px;
}

.menu a {
  float: left;
  font-size: 17px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Montserrat";
  margin: 0;
}

.menu a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  color: #ad0000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Montserrat";
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #ad0000;
}

.show {
  display: block;
}

.menu a.split {
  background-color: #ffffff;
}

.menu a.split:hover {
  background-color: #4b4b4b;
}

.menu a.split {
  background-color: #ffffff;
}


/*p & list-tags */
p {
  font-size: 18px;
}

li,
ul li,
li a {
  text-decoration: none;
}

/* Generelle stilarter for footer */
.site-footer {
  background-color: #24292f;
  padding: 0;
  color: #c3c3c3;
}

.site-footer .bottom_text {
  text-align: center;
  padding-top: 20px;
}

.logo-footer {
  width: 100%;
  padding-top: 0;
}

i {
  font-size: 40px;
  color: #a11a17;
}

i:hover {
  color: rgb(231, 101, 101);
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column h3 {
  list-style: none;
  text-decoration: none;
}

.site-footer a {
  color: #c3c3c3;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  font-family: "Montserrat";
}

/* Footer container og kolonner */
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-column {
  flex: 1;
  max-width: 250px;
  text-align: center;
  padding: 20px 0;
}

/* Stilarter for teksten og logoet */
.site-footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.site-footer p {
  font-size: 14px;
  line-height: 2;
  padding: 1%;
}

.site-footer img {
  max-width: 120px;
}

.site-footer a:hover {
  color: #ad0000;
}

/* Social medie ikoner og responsivt layout */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 70px;
}

.social-icons a {
  margin: 0 10px;
}

/* Responsivitet for mindre skærmstørrelser */
@media (max-width: 800px) {
  .site-footer h3,
  a {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .logo-footer {
    width: 80%;
  }

  .site-footer img {
    max-width: 120px;
  }

  i {
    font-size: 18px;
  }

  .social-icons a {
    margin: 0 5px;
    margin-left: 0px;
  }

  .social-icons {
    margin-left: 0px;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 20px 0;
  }
}

/* NAVIGATIONSBAR */

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 130px;
  margin-left: 30%;
  margin-bottom: 5%;
}

.navbar {
  display: flex;
  font-family: "Montserrat";
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  margin-right: 2%;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
  color: #a11a17;
  font-weight: 600;
  font-size: 20px;
}

/* CSS for dropdown-menuen */

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  float: right; /* Justerer placeringen til højre */
}

/* Styling for "Vær med" knappen */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 12px;
  color: #a11a17;
  font-weight: 600;
  font-size: 20px;
}

/* Styling for dropdown-menuens links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #a11a17;
  color: white;
  padding: 14px 16px;
}

.fa {
  color: #000;
}

@media (max-width: 900px) {
  u {
    color: #ad0000;
  }

  header {
    background-color: white;
  }

  main {
    background-color: #f8f8f8;
  }

  img {
    width: 100%;
  }

  .col_3-1 img,
  .col_3-2 img,
  .col_3-3 img {
    object-fit: cover;
    min-width: 100%;
    height: 300px;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  p {
    font-size: 18px;
  }

  /* NAVIGATIONSBAR */

  .menu {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    max-width: 130px;
    margin-left: 30%;
    margin-bottom: 5%;
  }

  .navbar {
    display: flex;
    font-family: "Montserrat";
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
    margin-right: 2%;
  }

  .navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
    color: #a11a17;
    font-weight: 600;
    font-size: 20px;
  }

  /* CSS for dropdown-menuen */

  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
    position: relative;
    float: right; /* Justerer placeringen til højre */
  }

  /* Styling for "Vær med" knappen */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 12px;
    color: #a11a17;
    font-weight: 600;
    font-size: 20px;
  }

  /* Styling for dropdown-menuens links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 12px;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #a11a17;
    color: white;
    padding: 14px 16px;
  }

  .fa {
    color: #000;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #a11a17; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: "Montserrat";
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
