.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
  padding: 10px;
  gap: 50px;
}

.image img {
  width: 100%;
  height: 100%;
}

.image {
  height: 500px;
  width: 1380px;
  display: flex;
  justify-content: center;
}

.om_image_grid img {
  width: 100%;
  height: 100%;
}

.om_image_grid {
  grid-column: 2/-1;
}

.centered {
  font-family: "Montserrat";
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -240%);
}

p {
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  .container2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
    padding: 10px;
    gap: 25px;
  }

  .image img {
    width: 500%;
    height: 100%;
  }

  .image {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .om_image_grid img {
    width: 100%;
    height: 100%;
  }

  .om_image_grid {
    grid-column: 2/-1;
  }

  .centered {
    font-family: "Montserrat";
    font-size: 25px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -240%);
  }

  p {
    font-size: 15px;
  }
}
