.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
  padding: 10px;
  gap: 60px;
}

h1 {
  font-size: 45px;
  color: black;
  text-align: center;
  padding: 60px;
}

.om_image_grid {
  grid-column: 2/-1;
}

.om_image_grid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: white;
  border: solid;
  border-color: #24292f;
  border-width: 10px;
  background-color: #24292f;
  text-align: center;
}

p {
  font-size: 18px;
}

u {
  color: #ad0000;
}

@media only screen and (max-width: 900px) {
  .grid_2 {
    grid-template-columns: 1fr;
    margin: 40px;
    padding: 10px;
    gap: 25px;
  }

  .col_2-4 img {
    width: 50%;
    height: 50%;
  }

  p {
    font-size: 15px;
  }

  u {
    color: #ad0000;
  }
}
