@media (min-width: 900px) {
  .grid_3-1,
  .grid_3-2,
  .grid_3-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding: 20px;
    gap: 50px;
  }

  u {
    color: #ad0000;
  }

  header {
    background-color: white;
  }

  main {
    background-color: #f8f8f8;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 900px) {
  u {
    color: #ad0000;
  }

  header {
    background-color: white;
  }

  main {
    background-color: #f8f8f8;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  p {
    font-size: 18px;
  }
}
